body{
	font-family:Helvetica;
	background-color:rgb(241,241,241);
	height:100%;
}

.img{
	max-width:100%;
}

div .menu{
	width:70%;
}

.menu td{
	padding-right:20px;
}

a{
	text-decoration:none;
	color:black;
}

a:hover{
	color:gray
}

.selected{
	border-bottom:red solid 3px;
}

.main_content{
	
	
}

.content{
	width:70%;
	
	margin:0 auto;
	margin-top:10px!important;
	background-color:white!important;
	padding:10px;
	border-radius:10px;
	padding-left:30px;
	padding-right:30px;
	-moz-box-shadow:    3px 3px 5px 3px #ccc;
	-webkit-box-shadow: 3px 3px 5px 3px #ccc;
	box-shadow:         3px 3px 5px 3px #ccc;
}

.indent_50{
	text-indent:50px;
}

